nav {
    display: flex;
    position: absolute;
    background-color: black;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    align-items: center;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    z-index: 10;
}
#logo {
    width: 100%;
    padding: 20px;
    height: 300px;
}

.logo {
    display: flex;
}
a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

li {
    display: flex;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    cursor: pointer;
}

li:hover{
    color: #f1f1f1;
    border-radius: 32px;
}
a:hover {
    color: #fff;
}

#nav-list {
    margin: 0 1rem;
    display: flex;
}
